.top-bar {
  box-shadow: 1px 1px 10px 1px #cbc9c9;
  padding: 0 10px;
}
.side-bar {
  padding: 20px;
  border-right: 1px solid #cbc9c9;
  width: 15%;
  height: 100vh;
}
.item-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.content-flex {
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
  margin: 10px 0 0 5px;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #70a5ab;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
